# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# MacOS
.DS_Store

# User-Uploaded files in frontend
frontend/uploads/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Heavy Machine Learning Weights / Caches
# (Uncomment below if you don't want to push your generated model weights/embeddings)
# backend/models/*.pt
# backend/models/*.pkl
# backend/space_image_index.pkl
