# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# MacOS
.DS_Store

# User-Uploaded files in frontend
frontend/uploads/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Heavy Machine Learning Weights / Caches
backend/models/*.pt
backend/models/*.pth
backend/models/*.pkl
backend/models/*.safetensors
backend/space_image_index.pkl
swin_lstm_decoder/
